.container {
    margin-left: 0 !important; 
}

.countdown-box {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    width: 200px;  
    height: 150px;  
    background-color: inherit;  
    margin: 10px;
    border-radius: 10px;
    box-shadow:0 1px 0 4px rgba(231, 231, 231, 231);
    font-size: 36px;  
    font-weight: bold;
}

.countdown-label {
    font-size: 18px;  
    color: #fff;
    margin-top: 10px;  
    text-transform: uppercase;
    letter-spacing: 2px;
}

@font-face {
    font-family: "Biome W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/dba3e777ccc7fa4a896dcf7e7f5b3bfb.eot");
    src: url("https://db.onlinewebfonts.com/t/dba3e777ccc7fa4a896dcf7e7f5b3bfb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/dba3e777ccc7fa4a896dcf7e7f5b3bfb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/dba3e777ccc7fa4a896dcf7e7f5b3bfb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/dba3e777ccc7fa4a896dcf7e7f5b3bfb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/dba3e777ccc7fa4a896dcf7e7f5b3bfb.svg#Biome W01 Regular")format("svg");
}