.landing-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  }
  
  .section-wrapper {
    display: inline-block;
    width: 90%;
    height: 100%;
    margin: 3%;
  }
  
  .first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
  }
  
  .first-section-desc {
    width: 60%;
    min-height: 30vh;
    text-align: left;
  }
  
  .first-section-desc p {
    width: 80%;
    font-size: 1.25rem;
    text-align: justify; 
  }
  
  .first-section-img {
    width: 30%;
    height: 30vh;
    background-color: gray;
  }

  /* DISPLAY FLEX SPAM INCOMING 😁 */
  
  .second-section {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    border: solid gray 1px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
  }

  .second-section-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    border: solid gray 1px;
    margin-bottom: 5%;
  }
  
  .second-section-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
  }

  .second-section-desc p{
    font-weight: 500;
    font-size: 2rem;
    text-align: justify;
    width: 80%;
    color: gray;
  }

  .second-section-img{
    height: 30vh;
    width: 100%;
    background-color: gray;
  }

  .second-section-img img{
    height: 100%; 
    width: 100%;
    aspect-ratio: 1 /1 ;
    object-fit: cover; 
    
  }

  .second-section-tech-stack{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  @media (max-width: 940px) {
    .first-section {
      flex-direction: column;
      min-height: auto;
      padding: 2rem 0;
    }

    .second-section{
      flex-direction: column-reverse;
    }
    
    .first-section-desc {
      width: 90%;
      margin-bottom: 2rem;
    }
    
    .second-section-desc p,
    .first-section-desc p {
      font-size: 1rem; 
    }

    

    .first-section-img {
      width: 90%;
      min-height: 20vh;
    }

    .second-section-desc{
      width: 100%;
      text-align: justify;
    }
    .second-section-content{
      width: 90%;
    }
  }