html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f2f5;
  min-height: 100vh;
  padding: 2rem;
}

.user-profile-wrapper {
  display: flex;
  width: 100%;
  max-width: 800px;
  background-color: #8a252c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.sidebar {
  background-color: #8a252c;
  padding: 2rem;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  color: white;
}

.profile-details {
  padding: 3rem;
  flex: 1;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customTextField {
  width: 100%;
  background-color: #fff;
}

.customButton {
  align-self: flex-start;
  background-color: #8a252c !important;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-transform: none;
}

.customButton:hover {
  background-color: #6d1d22 !important;
}
.custom-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.custom-list-item:hover .custom-list-item-text {
  color: #fff;
}

@media (max-width: 960px) {
  .user-profile-wrapper {
    flex-direction: column;
  }

  .profile-details {
    border-radius: 0 0 10px 10px;
    padding: 2rem;
  }
}
